<%
  if @message.new_record?
    url = messages_path
    method = :post
  else
    url = message_path(@message)
    method = :put
  end
%>

  <% if @message.errors.any?%>
    <div id="errors" style="color:red;padding:10px; border:2px solid yellow; background-color: lightyellow;">
      <strong>Message was not saved because of the following errors:</strong>
      <ul>
        <% @message.errors.full_messages.each do |message|%>
          <li><%= message%></li>
        <% end %>
      </ul>
    </div>
  <% end %>


<div style="padding:10px; margin:10px;background-color:#efefef; border: 2px solid #aaa">
  <%= form_for @message, :url => url, :method => method do |f|%>

    Title: <%= f.text_field :title %> <br/><br/>

    Body: <%= f.text_area :body %> <br/><br/>

    <%= f.submit "Save this Message" %>

    <%= f.submit "Cancel" %>
  <% end %>
</div>
